{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/navigation.css' %}">
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  
</script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>{% block title %}SpyThemAll{% endblock %}</title>

</head>
<body class="light" style="    background-color: #202125;">

    <nav class="navbar navbar-expand-lg" id="main_navbar" style="max-width: 1450px;">
        
        
            <div class="container-fluid">
                <button id='toggle' class='hoverable' onclick="showSidebar()" >≡</button>
              <a style="display: flex; color: white; align-items: center; font-size: 17px;" class="navbar-brand" href="#"><img style="width: 36px; margin-right: 10px;" src="{% static 'images/logo.svg' %}">SpythemAll</a>
              <form class="d-flex" id="nav_search" role="search" style=" align-items: center; width: 27%;">{% csrf_token %}
                <input class="form-control me-2" style="color: rgb(0, 0, 0);height: 28px;margin-right: 13px !important;font-size: 13px;" type="search" placeholder="Search Influencers, models, girl next door..." aria-label="Search" />
                <button class="btn btn-outline-dark" style="border-color: #ffffffa3;color: rgb(255, 255, 255);height: 28px;font-size: 16px; padding: 0px 21px; font-size: 15px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" type="submit">Filter</button>
              </form>
              
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="    margin-left: 16px;
                display: flex;
                flex-direction: row;">
                  <li class="nav-item">
                    <a class="nav-link active" style="color: rgb(255, 255, 255);    font-size: 14px;" aria-current="page" href="#"> <img id="nav_img" style="width: 22px; padding-right: 5px;padding-bottom: 3px;" src="{% static 'images/spy.svg' %}"><b id="navbar_optn">Ask The Spy</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: rgb(255, 255, 255);    font-size: 14px;" href="#"><img id="nav_img" style="width: 22px; padding-right: 5px;padding-bottom: 3px;" src="{% static 'images/love.svg' %}"><b id="navbar_optn">Favourites</b> </a>
                  </li>
                </ul>
                <div style="display: flex; gap: 10rem;align-items: center;">
                    <div class="dark_light_mode" style="display: flex; gap: 10px; align-items: center;display: none;">
                <input class="checkbox" type="checkbox" id="day_night_toggle" /><b style="font-size: 13px;">Dark</b>
    <label class="day_night_toggle" for="day_night_toggle">
      <ion-icon class="icon icon--light" name="sunny-outline"></ion-icon>
      
      <span class="ball"></span>
    </label><b style="font-size: 13px;">Light</b>
</div>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <button onclick="location.href='/users/login'" style="font-size: 14px;display: inline-flex;padding: 3px 15.75px 3px 16px;justify-content: center;color: black;align-items: center;border-radius: 6px;border: 1px solid #FFF; background: #FFF;margin-right: 26px;">Login</button>
{% endif %}
  </div>

            </div>
          </nav>
        
      
      <div id='sidebar' style=" background-color: rgb(32 33 37 / 69%);  z-index: 100;overflow: hidden;overflow-y:scroll;
      position: fixed; filter: none !important;">
        <div class="TopofSidebar" style="    display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;">
        <div class="Login_status" style="display: none; ">
       {% if user.is_authenticated %}
       {{ user.username }}!
       <p><a href="{% url 'logout' %}">Log Out</a></p>
     {% else %}
         <button onclick="location.href='/users/login'" style="font-size: 14px;display: inline-flex;padding: 3px 15.75px 3px 16px;justify-content: center;color: black;align-items: center;border-radius: 6px;border: 1px solid #FFF; background: #FFF;margin-right: 20px;">Login</button>
     {% endif %}
    </div>
        <!-- <a style="display: flex;    align-items: center; color: white;  font-size: 18px;" class="navbar-brand" href="#"><img style="width: 28px; margin-right: 10px;margin-left: 0px !important;" src="{% static 'images/logo.svg' %}">SpythemAll</a> -->
        <!-- <a "><img style="background-color: transparent;width: 12px;margin-left: 25px; align-items: flex-start;" src="/static/images/left.svg">Close Menu</a> -->
        <button id='side-toggle' onclick="hideSidebar();" style="background-color: transparent;color: whitesmoke;margin-top: 25px; margin-left: 26px; font-size: 15px; border-radius: 50px; padding-right: 12px;" class="btn btn-radius btn-sm btn-secondary toggle-sidebar"><i style="padding: 0px 6px;" class="fas fa-angle-left mr-2"></i>Close menu</button>
        
      </div>
      <br>
      <br>
      <div class="MiddleofSidebar">
        <a style="padding: 4px 22px; font-size: 18px;">Trending</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">Most popular</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">Profile of the day 🔥</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">Personalized Picks </a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">Popular Tags</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">Newly added</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">Top score</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">R 🌶</a>
        <hr class="myhr">
        <a style="padding: 4px 22px; font-size: 18px;">NC-17 🥵</a>
        <hr class="myhr">

      </div>
      <div class="main_gridcontainer">
        <button class="sidebar_btns">Lip Syncing</button>
        <button class="sidebar_btns">Skits</button>
        <button class="sidebar_btns">Roleplay</button>
        <button class="sidebar_btns">NSFW</button>
        <button class="sidebar_btns">Challenges</button>
        <button class="sidebar_btns">Dance</button>
        <button class="sidebar_btns">Uniforms</button>
        <button class="sidebar_btns">Cosplay</button>
        <button class="sidebar_btns">Couple</button>
      </div>
        <div id='scroll-container'>
          <div class="list-start">
              
              <div class="share_section" style="
              width: 100%;
              display: flex;
              color: #ffffff;
              flex-direction: row; ">
                          <a style="display: flex; color: white; align-items: center; font-size: 17px; border-right: 1px solid rgb(176, 176, 176);" class="navbar-brand" href="#">&nbsp;&nbsp;Join us on</a>
  
              <div id="share" style="display: flex; gap: 15px;align-items: center; margin-left: 15px;">
              
                <!-- facebook -->
                <a class="facebook" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/Discord.svg' %}"></a>
              
                <!-- twitter -->
                <a class="twitter" href="https://twitter.com/intent/tweet?status={{title}}+{{url}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/twitter.svg' %}"></a>
              
                <!-- google plus -->
                <a class="googleplus" href="https://plus.google.com/share?url={{url}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/reddit.svg' %}"></a>
              
                <!-- linkedin -->
                <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&source={{source}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/insta.svg' %}"></a>
                
                <!-- pinterest -->
                <a class="pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media={{media}}&url={{url}}&is_video=false&description={{title}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/telegram.svg' %}"></a>
                </div>
              </div>
          </div>
          <div class='list-end'>
            
          </div>
        </div>
      </div>
      <div onclick="hideSidebar();" id='overlay'/>
      

      <nav class="mobile-nav">
        <a href="#" class="bloc-icon">
          <img style="width: 36px; " src="{% static 'images/home.svg' %}">
          Home
        </a>
        <a href="#" class="bloc-icon">
          <img style="width: 36px;" src="{% static 'images/love.svg' %}">
          Favourite
        </a>
        <a href="#" class="bloc-icon">
          <img style="width: 36px; " src="{% static 'images/search.svg' %}">
          Search
        </a>
        <a href="#" class="bloc-icon">
          <img style="width: 36px; " src="{% static 'images/share_gray.svg' %}">
          Share
        </a>
        <a href="#" class="bloc-icon">
          <img style="width: 36px; " src="{% static 'images/spy.svg' %}">
          Ask Spy
        </a>
    </nav>


      
      <footer class="site-footer" style="background-color: #2A2C31;">
        <div class="container" >
          <div class="row">
            <div class="share_section" style="
            width: 100%;
            display: flex;
            color: #ffffff;
            flex-direction: row; ">
                        <a style="display: flex; color: white; align-items: center; font-size: 17px; border-right: 1px solid rgb(176, 176, 176);" class="navbar-brand" href="#"><img style="width: 36px; margin-right: 10px; margin-left: 0px;" id="footer_logo" src="{% static 'images/logo.svg' %}">SpythemAll</a>

            <div id="share" style="display: flex; gap: 15px;align-items: center; margin-left: 15px;">
            
              <!-- facebook -->
              <a class="facebook" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/Discord.svg' %}"></a>
            
              <!-- twitter -->
              <a class="twitter" href="https://twitter.com/intent/tweet?status={{title}}+{{url}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/twitter.svg' %}"></a>
            
              <!-- google plus -->
              <a class="googleplus" href="https://plus.google.com/share?url={{url}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/reddit.svg' %}"></a>
            
              <!-- linkedin -->
              <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&source={{source}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/insta.svg' %}"></a>
              
              <!-- pinterest -->
              <a class="pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media={{media}}&url={{url}}&is_video=false&description={{title}}" target="blank"><img style="background-color: transparent;width: 24px;" src="{% static '/images/telegram.svg' %}"></a>
              </div>
            </div>

            <br>
            <br>
            <hr style="margin-top: 20px;margin-bottom: 20px;border-bottom: 1px solid rgb(176, 176, 176);">
            <div style="display: flex; gap: 35px; font-size: 12px !important;">
              <h6 style=" font-size: 12px !important;">Terms of service</h6>
              <h6 style=" font-size: 12px !important;">DMCA</h6>
              <h6 style=" font-size: 12px !important;">Contact</h6>
            </div>
            <br>
            <br>
            <p>SpyThemAll does not store any files on our server, we are only collecting and providing the links available on the social media through our expert research.</p>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#" style="color: #FF7CAB; text-decoration: none; letter-spacing: 1.8px !important; font-size: 14px;padding-bottom: 80px;">SpyThemAll</a>.
              </p>
            </div>
          </div>
        </div>
  </footer>
      <script>
      var toggle = document.querySelector('#toggle');
var sidetoggle = document.querySelector('#side-toggle');
var sidebar = document.querySelector('#sidebar');
var overlay = document.querySelector('#overlay');
var swapperBtn = document.querySelector('#swapper-btn');

let side = 'left';
let translateX = '-100';
let borderRadius = '0 0.5em 0.5em 0';
let insets = '0 auto auto 0';

const body = document.querySelector('body');
const toogle = document.querySelector('#day_night_toggle');

toogle.addEventListener('change', () => {
  body.classList.toggle('dark');
});



      </script>
  {% block content %}
  <div class="container">
     
  </div>
  {% endblock %}    
</body>
</html>